<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/bg1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/bg1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">
        <activity
            android:name=".SthiPrar"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Khahani"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Nivedan"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Vachan"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DharmaV"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MalaV"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Novena"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Bhajan"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PrarthanaActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MissaActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>