<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">
        <activity
            android:name=".GitBhajan"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".KatholicSindh"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DharmaShik"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".KrusachaVatechi"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MrutasathiPrar"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RatriPrar"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SakalPrar"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PaviBalidanGit"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PrarsanganusarPrar"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Vachan"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PaviBible"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RojriMala"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Novena"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PaviBalidan"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SamanyaPrarthanaActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SamahuhikPrar"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>